<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/navbar.css">
  <title>Navbar Example</title>
</head>
<body>
  <nav class="navbar">
    <div class="logo">
      <a href="#">ShopKart</a>
    </div>
    <ul class="nav-links">
      <li><a href="/shop/profile">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Services</a></li>
      {{#if this.admin}}
      
      <li><a href="#">Admin Products</a></li>
      <li><a href="/admin/addProducts">Add Products</a></li>

      {{/ if}}

      <li><a href="/logout">Log   out</a></li>
    </ul>
  </nav>
</body>
</html>