<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="message">{{message}}</div>
    <h1>Login Page</h1>
    <form action="/login" class="loginLocal" method="POST">
    <input type="text" name="username" placeholder="username" id="username"> <br>
    <input type="text" name="password" placeholder="password" id="password"> <br>
    <button type="submit">Login</button>
    </form>

</body>
</html>