<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
      <link rel="stylesheet" href="/styles/profile.css">
</head>
<body>
    {{>navbar admin = admin}}
    <div>
      <h3>Welcome {{name}} </h3>
    </div>
     <section class="featured-products">
    <div class="product-card">
      <img src="" alt="Product 1">
      <h3>Product 1</h3>
      <p>Price: $19.99</p>
      <button>Add to Cart</button>
    </div>
    <!-- More product cards can be added here -->

    <div class="product-card">
      <img src="" alt="Product 1">
      <h3>Product 1</h3>
      <p>Price: $19.99</p>
      <button>Add to Cart</button>
    </div>
     <!-- More product cards can be added here -->

    <div class="product-card">
      <img src="" alt="Product 1">
      <h3>Product 1</h3>
      <p>Price: $19.99</p>
      <button>Add to Cart</button>
    </div>
     <!-- More product cards can be added here -->

    <div class="product-card">
      <img src="" alt="Product 1">
      <h3>Product 1</h3>
      <p>Price: $19.99</p>
      <button>Add to Cart</button>
    </div> 
    <!-- More product cards can be added here -->
     
    <div class="product-card">
      <img src="" alt="Product 1">
      <h3>Product 1</h3>
      <p>Price: $19.99</p>
      <button>Add to Cart</button>
    </div>   
      <!-- More product cards can be added here -->
     
    <div class="product-card">
      <img src="" alt="Product 1">
      <h3>Product 1</h3>
      <p>Price: $19.99</p>
      <button>Add to Cart</button>
    </div>  
  </section>
  
  <footer class="footer">
    <p>&copy; 2023 ShopKart. All rights reserved.</p>
  </footer>
</body>
</html>